<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>FimFiction Reader</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <style type="text/css">
    [v-cloak] {
      display: none!important;
    }
  </style>
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-reset/reset.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-site/site-nofont.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-container/container.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-header/header.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-icon/icon.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-menu/menu.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-transition/transition.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-dimmer/dimmer.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-loader/loader.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-popup/popup.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body style="background-color: rgba(0,0,0,0.5)">
  <div class="window_toolbar ui three item menu trim inverted" v-class="blured: !appWindow.isFocused, mac: appWindow.isMac" id="toolbar">
    <div class="left menu" v-if="!appWindow.isMac">
      <div class="item">
      </div>
      <div class="item">
        &nbsp;
        <img alt="logo" src="images/icon-32.png">
      </div>
    </div>
    <div class="left menu" v-if="appWindow.isMac" v-cloak>
      <div class="item">
        <i class="remove circle icon link" v-on="click: appWindow.close()" aria-label="Close" data-content="CloseMore" data-variation="basic tiny" v-l="aria-label, data-content"></i>
      </div>
      <div class="item">
        <i class="add circle icon link" v-class="square: appWindow.isMaximized" v-on="click: appWindow.maximize()" aria-label="Maximize" data-content="MaximizeMore" data-variation="basic tiny" v-l="aria-label, data-content"></i>
      </div>
      <div class="item">
        <i class="minus circle icon link" v-class="square: appWindow.isMinimized" v-on="click: appWindow.minimize()" aria-label="Minimize" data-content="MinimizeMore" data-variation="basic tiny" v-l="aria-label, data-content"></i>
      </div>
    </div>
    <div class="header item">
      <l>appName</l>
    </div>
    <div class="right menu" v-if="appWindow.isMac" v-cloak>
      <div class="item">
        <img alt="logo" src="images/icon-32.png">
      </div>
    </div>
    <div class="right menu" v-if="!appWindow.isMac">
      <div class="item" v-cloak>
        <i class="minus icon link" v-class="square: appWindow.isMinimized" v-on="click: appWindow.minimize()" aria-label="Minimize" data-content="MinimizeMore" data-variation="basic tiny" v-l="aria-label, data-content"></i>
      </div>
      <div class="item" v-cloak>
        <i class="add icon link" v-class="square: appWindow.isMaximized" v-on="click: appWindow.maximize()" aria-label="Maximize" data-content="MaximizeMore" data-variation="basic tiny" v-l="aria-label, data-content"></i>
      </div>
      <div class="item">
        <i class="close outline icon link" id="default-close-button" v-on="click: appWindow.close()" aria-label="Close" data-content="CloseMore" data-variation="basic tiny" v-l="aria-label, data-content"></i>
      </div>
    </div>

  </div>
  <div class="ui colorized image loader" id="loading" v-cloak>
    <img alt="logo" src="images/icon-32.png">
  </div>
  <div class="window_content ui full fluid container trim dimmable dimmed">
    <div id="splash" class="ui dimmer active">
      <div class="ui colorized big loader"></div>
      <div class="content">
        <div class="center">
          <img alt="logo" src="images/icon-128.png">
        </div>
      </div>
    </div>
    <div class="full trim ui container fluid" id="app">
      <webview allowtransparency="on" class="trim full" flex id="fimfiction" partition="persist:fimfictionreader" src=""></webview>
    </div>
  </div>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/vue/dist/vue.js"></script>
  <script src="bower_components/toastr/toastr.js"></script>
  <!-- endbower -->
  <script src="bower_components/semantic-ui-site/site.js"></script>
  <script src="bower_components/semantic-ui-transition/transition.js"></script>
  <script src="bower_components/semantic-ui-dimmer/dimmer.js"></script>
  <script src="bower_components/semantic-ui-popup/popup.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/libs/window.js"></script>
  <script src="scripts/libs/update.js"></script>
  <script src="scripts/libs/browser.js"></script>
  <script src="scripts/helpers.js"></script>
  <script src="scripts/app.js"></script>
  <!--
  <script src="scripts/controllers.js"></script>
  <script src="scripts/libs/settings.js"></script>
  -->
  <!-- endbuild -->
</body>

</html>
