<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>FimFiction Reader</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <style type="text/css">
    [v-cloak] {
      display: none!important;
    }

  </style>
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/semantic-ui-reset/reset.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-site/site-nofont.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-header/header.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-icon/icon-g.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-menu/menu.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-transition/transition.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-dimmer/dimmer.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-loader/loader.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-popup/popup.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-modal/modal.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-button/button.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-checkbox/checkbox.css" />
  <link rel="stylesheet" href="bower_components/semantic-ui-input/input.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="styles/radialmenu.css">
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body style="background-color: rgba(0,0,0,0.5)">
  <!-- TOOLBAR BEGIN -->
  <div class="window_toolbar ui three item menu trim inverted" v-show="!appWindow.isFullscreen" v-bind:class="{blured: !appWindow.isFocused, mac: appWindow.isMac}" id="toolbar">
    <div class="left menu" v-if="!appWindow.isMac">
      <div class="item">
      </div>
      <div class="item">
        &nbsp;
        <a v-on:click="openSettings" aria-label="Settings" data-content="SettingsMore" data-variation="basic tiny" v-l.literal="aria-label, data-content">
          <i class="settings link icon"></i>
        </a>
      </div>
    </div>
    <div class="left menu" v-if="appWindow.isMac" v-cloak>
      <div class="item">
        <a v-on:click="appWindow.close()" aria-label="Close" data-content="CloseMore" data-variation="basic tiny" v-l.literal="aria-label, data-content"><i class="remove circle icon link"></i></a>
      </div>
      <div class="item">
        <a v-on:click="appWindow.maximize()" aria-label="Maximize" data-content="MaximizeMore" data-variation="basic tiny" v-l.literal="aria-label, data-content"><i class="add circle icon link" v-bind:class="{square: appWindow.isMaximized}"></i></a>
      </div>
      <div class="item">
        <a v-on:click="appWindow.minimize()" aria-label="Minimize" data-content="MinimizeMore" data-variation="basic tiny" v-l.literal="aria-label, data-content"><i class="minus circle icon link" v-bind:class="{square: appWindow.isMinimized}"></i></a>
      </div>
    </div>
    <div class="header item" v-cloak>
      <l>appName</l>
    </div>
    <div class="right menu" v-if="appWindow.isMac" v-cloak>
      <div class="item">
        <a v-on:click="openSettings" aria-label="Settings" data-content="SettingsMore" data-variation="basic tiny" v-l.literal="aria-label, data-content">
          <i class="settings link icon"></i>
        </a>
      </div>
    </div>
    <div class="right menu" v-if="!appWindow.isMac">
      <div class="item" v-cloak>
        <a v-on:click="appWindow.minimize()" aria-label="Minimize" data-content="MinimizeMore" data-variation="basic tiny" v-l.literal="aria-label, data-content"><i class="minus icon link" v-bind:class="{square: appWindow.isMinimized}"></i></a>
      </div>
      <div class="item" v-cloak>
        <a v-on:click="appWindow.maximize()" aria-label="Maximize" data-content="MaximizeMore" data-variation="basic tiny" v-l.literal="aria-label, data-content"><i class="add icon link" v-bind:class="{square: appWindow.isMaximized}"></i></a>
      </div>
      <div class="item">
        <a id="default-close-button" v-on:click="appWindow.close()" aria-label="Close" data-content="CloseMore" data-variation="basic tiny" v-l.literal="aria-label, data-content"><i class="close outline icon link"></i></a>
      </div>
    </div>
  </div>
  <!-- TOOLBAR END -->

  <!-- APP BEGIN -->
  <div id="app">
    <div class="ui colorized image loader" id="loading" v-cloak>
      <img alt="logo" src="images/icon-32.png">
    </div>

    <div class="window_content ui full trim dimmable dimmed">
      <div id="splash" class="ui dimmer active">
        <div class="ui colorized big loader"></div>
        <div class="content">
          <div class="center">
            <img alt="logo" src="images/icon-128.png">
          </div>
        </div>
      </div>
      <div class="full trim ui">
        <webview allowtransparency="on" class="trim full" flex id="fimfiction" partition="persist:fimfictionreader" src=""></webview>
      </div>
    </div>

    <!-- ALERT/CONFIRM BEGIN -->
    <div class="ui small modal" id="dialog">
      <i class="close icon"></i>
      <div class="header">
        <l>Alert</l>
      </div>
      <div class="content">
        <div class="description">
          <p>
            ...
          </p>
        </div>
      </div>
      <div class="actions">
        <div class="ui negative button">
          <i class="remove icon"></i>
          <l>Cancel</l>
        </div>
        <div class="ui positive button">
          <i class="checkmark icon"></i>
          <l>Ok</l>
        </div>
      </div>
    </div>
    <!-- ALERT/CONFIRM END -->

    <!-- RADIAL MENU BEGIN -->
    <ul class="radial">
      <li>
        <a v-on:click="controls.reload()" v-bind:class="{disabled: !controls.isReload}" title="ReloadMore" v-l.literal="title">
          <l>Reload</l>
        </a>
      </li>
      <li>
        <a v-on:click="controls.back()" v-bind:class="{disabled: !controls.isBack}" title="BackMore" v-l.literal="title">
          <l>Back</l>
        </a>
      </li>
      <li>
        <a v-on:click="controls.home()" v-bind:class="{disabled: !controls.isHome}" title="HomeMore" v-l.literal="title">
          <l>Home</l>
        </a>
      </li>
      <li>
        <a v-on:click="controls.top()" v-bind:class="{disabled: !controls.isTop}" title="TopMore" v-l.literal="title">
          <l>Top</l>
        </a>
      </li>
      <li>
        <a v-on:click="controls.forward()" v-bind:class="{disabled: !controls.isForward}" title="ForwardMore" v-l.literal="title">
          <l>Forward</l>
        </a>
      </li>
    </ul>
    <!-- RADIAL MENU END -->

  </div>
  <!-- APP END -->

  <!-- SETTINGS START -->
  <div id="settings" v-cloak>
    <div class="ui modal" id="settingsDialog">
      <i class="close icon"></i>
      <div class="header">
        <l>Settings</l>
      </div>
      <div class="content">
        <div class="description">
          <div class="ui labeled input">
            <div class="ui label">
              <l>homePage</l>: fimfiction.net/
            </div>
            <input type="text" name="homePage" v-model="homePage" debounce="500">
          </div>

          <p></p>
          <div class="ui toggle checkbox">
            <input type="checkbox" name="saveLastPage" v-model="saveLastPage">
            <label>
              <l>saveLastPage</l>
            </label>
          </div>

          <p></p>
          <div class="ui toggle checkbox">
            <input type="checkbox" name="enableKeyboardShortcuts" v-model="enableKeyboardShortcuts">
            <label>
              <l>enableKeyboardShortcuts</l>
            </label>
          </div>

          <p></p>
          <hr>
          <p></p>
          <p>
            <button class="ui red button" v-on:click="clearBrowser">
              <l>ResetData</l>
            </button>
            <button class="ui blue button" v-on:click="checkUpdates">
              <l>CheckUpdate</l>
            </button>
          </p>
        </div>
      </div>
      <div class="actions">
        <div class="ui black ok button">
          <l>Close</l>
        </div>
      </div>
    </div>
  </div>
  <!-- SETTINGS END -->

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/vue/dist/vue.js"></script>
  <!-- endbower -->
  <script src="bower_components/semantic-ui-site/site.js"></script>
  <script src="bower_components/semantic-ui-transition/transition.js"></script>
  <script src="bower_components/semantic-ui-dimmer/dimmer.js"></script>
  <script src="bower_components/semantic-ui-popup/popup.js"></script>
  <script src="bower_components/semantic-ui-modal/modal.js"></script>
  <script src="bower_components/semantic-ui-checkbox/checkbox.js"></script>
  <script src="scripts/vendor/radialmenu.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/helpers.js -->
  <script src="scripts/helpers.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/toolbar.js -->
  <script src="scripts/libs/window.js"></script>
  <script src="scripts/toolbar.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/app.js -->
  <script src="scripts/libs/update.js"></script>
  <script src="scripts/libs/browser.js"></script>
  <script src="scripts/app.js"></script>
  <!-- endbuild -->
</body>

</html>
