<div class="trim full" layout="column">
  <md-toolbar class="md-small" id="page_toolbar" ng-class="{'md-blur': !appWindow.isFocused, 'md-max': appWindow.isMaximized, 'md-min': appWindow.isMinimized, 'md-full': appWindow.isFullscreen}" ng-controller="ToolbarCtrl">
    <div class="md-toolbar-tools" ng-if="os === 'mac'">
      <md-button aria-label="{{l('Close')}}" class="md-small-button" ng-click="appWindow.close()">
        <md-tooltip md-autohide="true">{{l('CloseMore')}}</md-tooltip>
        <md-icon>cancel</md-icon>
      </md-button>

      <md-button aria-label="{{l('Minimize')}}" class="md-small-button" ng-click="appWindow.minimize()">
        <md-tooltip md-autohide="true">{{l('MinimizeMore')}}</md-tooltip>
        <md-icon>remove_circle</md-icon>
      </md-button>

      <md-button aria-label="{{l('Maximize')}}" class="md-small-button" ng-click="appWindow.maximize()">
        <md-tooltip md-autohide="true">{{l('MaximizeMore')}}</md-tooltip>
        <md-icon ng-hide="appWindow.isMaximized">add_circle</md-icon>
        <md-icon ng-show="appWindow.isMaximized">add_circle_outline</md-icon>
      </md-button>

      <span flex></span>

      <h2 class="os-mac">{{l('appName')}}</h2>

      <span flex></span>

      <img alt="icon" src="images/icon-32.png">
    </div>
    <div class="md-toolbar-tools" ng-if="os !== 'mac'">
      <img alt="icon" src="images/icon-32.png">

      <span flex></span>

      <h2>{{l('appName')}}</h2>

      <span flex></span>

      <md-button aria-label="{{l('Minimize')}}" class="md-small-button" ng-click="appWindow.minimize()">
        <md-tooltip md-autohide="true">{{l('MinimizeMore')}}</md-tooltip>
        <md-icon>remove</md-icon>
      </md-button>

      <md-button aria-label="{{l('Maximize')}}" class="md-small-button" ng-click="appWindow.maximize()">
        <md-tooltip md-autohide="true">{{l('MaximizeMore')}}</md-tooltip>
        <md-icon ng-hide="appWindow.isMaximized">check_box_outline_blank</md-icon>
        <md-icon ng-show="appWindow.isMaximized">filter_none</md-icon>
      </md-button>

      <md-button aria-label="{{l('Close')}}" class="md-small-button" ng-click="appWindow.close()">
        <md-tooltip md-autohide="true">{{l('CloseMore')}}</md-tooltip>
        <md-icon>close</md-icon>
      </md-button>
    </div>
    <md-progress-linear class="md-hue-1 loading-indicator" md-mode="indeterminate" style="display:none;"></md-progress-linear>
  </md-toolbar>
  <md-content class="trim full" flex id="content" layout="column" ui-view="content"></md-content>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="settings">
    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">{{l('Settings')}}</h2>
    </md-toolbar>
    <md-content layout-padding ng-controller="SettingsCtrl" ng-include="'templates/settings.html'"></md-content>
  </md-sidenav>
  <md-fab-speed-dial class="md-fab-{{settings.menuPosition}}" md-direction="{{settings.menuOpenDirection}}" md-open="menu.open" ng-mouseenter="menu.toggleHoverMenu(true)" ng-mouseleave="menu.toggleHoverMenu(false)">
    <md-fab-trigger>
      <md-button aria-label="{l('Menu')}}" class="md-fab">
        <md-icon>menu</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions ng-controller="MenuCtrl" ng-include="'templates/menu.html'" ng-show="menu.open"></md-fab-actions>
  </md-fab-speed-dial>
</div>
