<md-button ng-if="menu.browser" aria-label="{{l('BrowserTop')}}" class="md-fab md-accent" ng-disabled="!menu.canTop()" ng-click="menu.top()">
  <md-tooltip md-direction="top">{{l('BrowserTop')}}</md-tooltip>
  <md-icon>expand_less</md-icon>
</md-button>
<md-button ng-if="menu.browser" aria-label="{l('BrowserBack')}}" class="md-fab" ng-disabled="!menu.canBack()" ng-click="menu.back();$event.stopPropagation();">
  <md-tooltip md-direction="top">{{l('BrowserBack')}}</md-tooltip>
  <md-icon>chevron_left</md-icon>
</md-button>
<md-button ng-if="menu.browser" aria-label="{l('BrowserReload')}}" class="md-fab" ng-disabled="!menu.canReload()" ng-click="menu.reload()">
  <md-tooltip md-direction="top">{{l('BrowserReload')}}</md-tooltip>
  <md-icon>refresh</md-icon>
</md-button>
<md-button ng-if="menu.browser" aria-label="{l('BrowserForward')}}" class="md-fab" ng-disabled="!menu.canForward()" ng-click="menu.forward();$event.stopPropagation();">
  <md-tooltip md-direction="top">{{l('BrowserForward')}}</md-tooltip>
  <md-icon>chevron_right</md-icon>
</md-button>
<md-button ng-if="menu.browser" aria-label="{l('BrowserHome')}}" class="md-fab" ng-disabled="!menu.canHome()" ng-click="menu.home()">
  <md-tooltip md-direction="top">{{l('BrowserHome')}}</md-tooltip>
  <md-icon>home</md-icon>
</md-button>
<md-button ng-if="menu.browser" aria-label="{l('ResetData')}}" class="md-fab" ng-click="menu.resetWebData()">
  <md-tooltip md-direction="top">{{l('ResetData')}}</md-tooltip>
  <md-icon>layers_clear</md-icon>
</md-button>

<md-button ng-if="menu.settings" aria-label="{l('Settings')}}" class="md-fab" ng-click="menu.openSettings()">
  <md-tooltip md-direction="top">{{l('Settings')}}</md-tooltip>
  <md-icon>settings</md-icon>
</md-button>
