<div class="trim full" layout="column">
  <md-toolbar class="md-small" id="page_toolbar" ng-class="{'md-blur': !window.isFocused, 'md-max': window.isMaximized}">
    <div class="md-toolbar-tools" ng-if="os === 'mac'">
      <md-button aria-label="{{l('Close')}}" class="md-small-button" ng-click="close()">
        <md-tooltip md-autohide="true">{{l('CloseMore')}}</md-tooltip>
        <md-icon>close</md-icon>
      </md-button>

      <md-button aria-label="{{l('Minimize')}}" class="md-small-button" ng-click="minimize()">
        <md-tooltip md-autohide="true">{{l('MinimizeMore')}}</md-tooltip>
        <md-icon>keyboard_arrow_down</md-icon>
      </md-button>

      <md-button aria-label="{{l('Maximize')}}" class="md-small-button" ng-click="maximize()" ng-hide="window.isMaximized">
        <md-tooltip md-autohide="true">{{l('MaximizeMore')}}</md-tooltip>
        <md-icon>zoom_in</md-icon>
      </md-button>

      <md-button aria-label="{{l('Restore')}}" class="md-small-button" ng-click="restore()" ng-show="window.isMaximized">
        <md-tooltip md-autohide="true">{{l('RestoreMore')}}</md-tooltip>
        <md-icon>zoom_out</md-icon>
      </md-button>

      <span flex></span>

      <h2 class="os-mac">{{l('appName')}}</h2>

      <span flex></span>

      <img alt="icon" src="images/icon-32.png">
    </div>
    <div class="md-toolbar-tools" ng-if="os !== 'mac'">
      <img alt="icon" src="images/icon-32.png">

      <span flex></span>

      <h2>{{l('appName')}}</h2>

      <span flex></span>

      <md-button aria-label="{{l('Minimize')}}" class="md-small-button" ng-click="minimize()">
        <md-tooltip md-autohide="true">{{l('MinimizeMore')}}</md-tooltip>
        <md-icon>keyboard_arrow_down</md-icon>
      </md-button>

      <md-button aria-label="{{l('Restore')}}" class="md-small-button" ng-click="restore()" ng-show="window.isMaximized">
        <md-tooltip md-autohide="true">{{l('RestoreMore')}}</md-tooltip>
        <md-icon>zoom_out</md-icon>
      </md-button>

      <md-button aria-label="{{l('Maximize')}}" class="md-small-button" ng-click="maximize()" ng-hide="window.isMaximized">
        <md-tooltip md-autohide="true">{{l('MaximizeMore')}}</md-tooltip>
        <md-icon>zoom_in</md-icon>
      </md-button>

      <md-button aria-label="{{l('Close')}}" class="md-small-button" ng-click="close()">
        <md-tooltip md-autohide="true">{{l('CloseMore')}}</md-tooltip>
        <md-icon>close</md-icon>
      </md-button>
    </div>
    <md-progress-linear class="md-hue-1 loading-indicator" md-mode="indeterminate" style="display:none;"></md-progress-linear>
  </md-toolbar>
  <md-content class="trim full" flex id="content" layout="column" ui-view="main"></md-content>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="settings">
    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">{{l('Settings')}}</h2>
    </md-toolbar>
    <md-content layout-padding ng-controller="SettingsCtrl" ng-include="'templates/settings.html'"></md-content>
  </md-sidenav>
  <md-fab-speed-dial class="md-fab-{{settings.menuPosition}}" md-direction="{{settings.menuOpenDirection}}" md-open="menu.open" ng-mouseenter="toggleHoverMenu(true)" ng-mouseleave="toggleHoverMenu(false)">
    <md-fab-trigger>
      <md-button aria-label="{l('Menu')}}" class="md-fab">
        <md-icon>menu</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions ng-include="'templates/menu.html'" ng-show="menu.open"></md-fab-actions>
  </md-fab-speed-dial>
</div>
