<p class="md-caption">{{l('LocalSettings')}}</p>
<form>
  <h3>{{l('Menu')}}</h3>
  <md-checkbox aria-label="{{l('OpenMenuOnHoverSetting')}}" ng-model="settings.menuOpenOnHover" ng-change="settings.saveWithMessage()">
    {{l('OpenMenuOnHoverSetting')}}
  </md-checkbox>
  <md-radio-group ng-model="settings.menuPosition" ng-change="menu.changeMenuPosition();settings.saveWithMessage()">
    <label>{{l('MenuPositionSetting')}}:</label>
    <md-radio-button aria-label="{{d}}" ng-repeat="d in menuPositionPositions" ng-value="d">
      {{d}}
    </md-radio-button>
  </md-radio-group>

  <!-- <h3>{{l('Shortcuts')}}</h3>
  <md-input-container md-no-float ng-repeat="comm in enabledCommands">
    <label>{{comm.description}}</label>
    <input value="{{comm.shortcut}}" readonly>
  </md-input-container> -->

</form>
<md-button class="md-accent md-raised" ng-click="menu.closeSettings()">
  {{l('Close')}}
</md-button>
