<html>

<body>
  <div class="ui modal">
    <i class="close icon"></i>
    <div class="content">
      <div class="description ui form">
        <h4 class="ui dividing header"><l>SettingsApp</l></h4>

        <div class="inline fields">
          <label>
            <l>toolbarType</l>
          </label>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" id="toolbarTypeAuto" name="toolbarType" value="0" v-model="settings.toolbarType">
              <label for="toolbarTypeAuto">
                <l>toolbarTypeAuto</l>
              </label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" id="toolbarTypeMac" name="toolbarType" value="1" v-model="settings.toolbarType">
              <label for="toolbarTypeMac">
                <l>toolbarTypeMac</l>
              </label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" id="toolbarTypeWin" name="toolbarType" value="2" v-model="settings.toolbarType">
              <label for="toolbarTypeWin">
                <l>toolbarTypeWin</l>
              </label>
            </div>
          </div>
        </div>

        <h4 class="ui dividing header"><l>SettingsBrowser</l></h4>
        <div class="inline fields">
          <label for="homePage">
            <l>homePage</l>:
          </label>
          <div class="sixteen wide field">
            <div class="ui labeled action input">
              <div class="ui label">
                {{shortDomainUrl}}
              </div>
              <input type="text" id="homePage" name="homePage" v-model="settings.homePage" debounce="500">
              <button class="ui icon button" v-on:click="setHome(browser.getUrl())" aria-label="setCurrentPageAsHome" data-content="setCurrentPageAsHome" data-variation="basic tiny" v-l="['aria-label', 'data-content']"><i class="ui icon browser"></i></button>
              <button class="ui icon button" v-on:click="setHome('')" aria-label="clearCurrentHomePage" data-content="clearCurrentHomePage" data-variation="basic tiny" v-l="['aria-label', 'data-content']"><i class="ui icon remove circle"></i></button>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="ui toggle checkbox">
            <input type="checkbox" id="saveLastPage" name="saveLastPage" v-model="settings.saveLastPage">
            <label for="saveLastPage">
              <l>saveLastPage</l>
            </label>
          </div>
        </div>

        <div class="field">
          <div class="ui toggle checkbox">
            <input type="checkbox" id="enableKeyboardShortcuts" name="enableKeyboardShortcuts" v-model="settings.enableKeyboardShortcuts">
            <label for="enableKeyboardShortcuts">
              <l>enableKeyboardShortcuts</l>
              <i class="ui help icon" v-on:click="$event.preventDefault()" data-html="shortcuts_help" data-variation="basic tiny" v-l="['data-html']"></i>
            </label>
          </div>
        </div>

        <div class="field">
          <div class="ui toggle checkbox">
            <input type="checkbox" id="enableShiftToOpenWindow" name="enableShiftToOpenWindow" v-model="settings.enableShiftToOpenWindow">
            <label for="enableShiftToOpenWindow">
              <l>enableShiftToOpenWindow</l>
            </label>
          </div>
        </div>

        <h4 class="ui dividing header"><l>SettingsActions</l></h4>
        <div class="fields">
          <div class="field">
            <button class="ui button" v-on:click="clearBrowser" data-content="ResetDataMore" data-variation="basic tiny" aria-label="ResetData" v-l="['aria-label', 'data-content']">
              <l>ResetData</l>
            </button>
          </div>
          <div class="field">
            <button class="ui button" v-on:click="reloadApp" data-content="ReloadAppMore" data-variation="basic tiny" aria-label="ReloadApp" v-l="['aria-label', 'data-content']">
              <l>ReloadApp</l>
            </button>
          </div>
          <div class="field">
            <button class="ui button" v-on:click="checkUpdates" data-html="CheckUpdateMore" data-variation="basic tiny" aria-label="CheckUpdate" v-l="['aria-label', 'data-html']">
              <l>CheckUpdate</l>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <p style="position: absolute;">{{appVersion}}</p>
      <div class="ui ok button">
        <l>Close</l>
      </div>
    </div>
  </div>
</body>

</html>
